<div class="login">
    <form class="custom-form" method="post">

      <mat-form-field>
        <input matInput [(ngModel)]="userModel.userId" type="string" placeholder="User Id" name="userModel.userId">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="password" type="password" placeholder="Password" name="password">
      </mat-form-field>
    
       <button mat-button color="primary" type="reset" (click)="login()">LOGIN</button>
       
       <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
      
    </div>
  
  