
*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.titulo{
    margin:0px;
    font-size:1.4em;
    font-weight:700;
}
.precio
{
  font-size:15px;
}
.search{
    padding: 1em 30em;
}
