<app-header></app-header>
<div class="search">
  <input matInput [(ngModel)]="search" type="search" placeholder="Search Game" name="search">
  <button mat-button color="primary" type="button" (click)="searchgame()">SEARCH</button>
</div>


<div class="container-fluid">
  <div class="row">
    <div *ngFor="let game of listGame">
      <div class="col-xs-2">
        <app-game-card [game]="game" (gameitem)="view($event)">
        </app-game-card>
      </div>
    </div>
  </div>
</div>







<!-- <app-footer></app-footer> -->