<app-header></app-header>

<div class="container-fluid" style="margin-top: 1em;">
    <div class="row ">

        <div *ngFor="let i of listUser.data" class=" col-xs-6 col-sm-5ths col-md-5ths col-lg-5ths">
            
            <button mat-icon-button disabled={{Flag}}  color="warn" aria-label="Example icon button with a star icon" style="margin-left: 13em;">
                <mat-icon style="cursor: pointer;" (click)="flag()">start</mat-icon>
              </button>
            <div class="avatar mx-auto white">
                <img src={{i.picture}} class="rounded-circle img-responsive" alt="woman avatar">
            </div>
            <!-- Content -->
            <div class="card-body">
                <!-- Name -->
                <h4 class="card-title font-weight-bold">{{i.title}} {{i.firstName}} {{i.lastName}}</h4>
                <hr>
                <!-- Quotation -->
                <p><i class="fas fa-quote-left"></i>email: {{i.email}}</p>
            </div>
        </div>
        


    </div>
</div>


<app-footer></app-footer>