<app-header></app-header>
<button mat-button (click)="return()"><mat-icon>arrow_back</mat-icon> Back</button>
<div class="responsive" *ngIf="spinner" style="margin: 5em;">
    <mat-spinner  mode="indeterminate"></mat-spinner>
  </div>

<div class="container-fluid" style="margin-top: 1em;" *ngIf="bool" >
    <div class="row ">

        <div *ngFor="let i of listUser" class=" col-xs-6 col-sm-5ths col-md-5ths col-lg-5ths">
            
            <app-user-card [i]="i"  (useritem)="flag($event)"></app-user-card>
        </div>
        


    </div>
</div>


<app-footer></app-footer>