/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {

    padding: 20px 40px;
  
   }

   .col-xs-5ths,
   .col-sm-5ths,
   .col-md-5ths,
   .col-lg-5ths {
       position: relative;
       min-height: 1px;
       padding-right: 15px;
       padding-left: 15px;
   }
   
   .col-xs-5ths {
       width: 20%;
       float: left;
   }
   
   @media (min-width: 768px) {
       .col-sm-5ths {
           width: 20%;
           float: left;
       }
   }
   
   @media (min-width: 992px) {
       .col-md-5ths {
           width: 20%;
           float: left;
       }
   }
   
   @media (min-width: 1200px) {
       .col-lg-5ths {
           width: 20%;
           float: left;
       }
   }