<app-header></app-header>

<div class="card text-center" style="max-width: 70rem; text-align: center; margin-right: auto; margin-left: auto;margin-top: 5rem;" *ngIf="!loading">
    <div class="row no-gutters">
      <div class="col-md-7">
        <img src={{gameinfo.info.thumb}} class="card-img" alt="...">
      </div>
      <div class="col-md-5 " style="display: flex;
      align-items: center;">
        <div class="card-body" >
          <h1 class="card-title">{{gameinfo.info.title}}</h1>
          <p class="card-text">Cheapest price: {{gameinfo.cheapestPriceEver.price|currency:'EUR':true}}</p>
          <p class="card-text">Most expensive price: {{mostExpensive(gameinfo)|currency:'EUR':true}}</p>
          <p class="card-text">Average price: {{this.average |currency:'EUR':true}}</p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
